.nav-container {
    display: flex;
    background-color: #202229;
    padding: 10px;
}

.nav-item {
    margin-right: 15px;
    position: relative;
}

.nav-dropdown-header {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    top: 40px; /* Adjust based on header size */
    left: 0;
    background-color: #333;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.nav-dropdown-link {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-dropdown-link:hover {
    background-color: #444;
}
